<div class="row">
	<ul class="nav nav-pills" id="ozjapanese_about">
    <li class="active"><a href="#oz_style"><%= t("flyer") %></a></li>
    <li><a href="#service"><%= t("terms_of_service_agreement")%></a></li>
    <li><a href="#personal"><%= t("terms_of_personal_agreement")%></a></li>
    <li><a href="#contact"><%= t("contact_us") %></a></li>
    </ul>
     
    <div class="tab-content">
    <div class="tab-pane active" id="oz_style">
    	<%= OzjapaneseStyle.about_site %>
    </div>
    <div class="tab-pane" id="service">
    	<%= simple_format(Terms.terms_of_service) %>
    	
    </div>
    <div class="tab-pane" id="personal">
    	<%= simple_format(Terms.terms_of_personal_info) %>
    	
    </div>
    <div class="tab-pane" id="contact">
    	<%= show_notice %>
    	<%= render :partial => "ozmains/contact_us_form" %>
    	
    </div>
    </div>
     
    <script>
    $('#ozjapanese_about a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    })
    </script>
    <%= _script_document_ready(%Q|$('\#ozjapanese_about a[href="\##{@t}"]').tab('show');|)%>
</div>
