<%= show_alert %>
<%= render :partial => "layouts/sns" %>	
<div class="row-fluid" id="open_view">
<% if !session[:uzatt]%>
<div class="hero-unit">
	<h1><%= raw(t(:hello_world)) %></h1>
	<p>
		<%= OzjapaneseStyle.hello_description%>
	</p>
	<%= render :partial => "ozmains/contact_us" %>
	<%= render :partial => "ozmains/site_detail" %>
	<%= link_to(t("uzatt"), uzatt_ozmains_path, :remote => true, :method => :post, :id => "", :class => "btn btn-info btn-small pull-right") %>
</div>
<% end %>
</div>

<div class="container-fluid">
<div class="row-fluid">
<%= fb_shout %>
<div class="span2" style="margin-left: 0px">
	<p class="lead"><span class="label label-inverse"><i class="icon-glass icon-white"></i><%=t("post.hot.post")%></span></p>
	<div class="row-fluid" id="recent_top_feed_area">
		<%=image_tag("ajax-loader.gif")%>
    </div>
</div>

<div class="span8">
<div class="row-fluid" id="menu">
	<ul class="pager">
		<% OzjapaneseStyle.all_headings.each do |heading| %>
		<li><%= link_to(OzjapaneseStyle.heading_name(heading),"#", :class => "shadow", :onclick => "_activate_heading_#{heading}();return false;")%></li>
		<%= _script(%Q|
			function _activate_heading_#{heading}() {
				
			| +
			
				Ajax.post(select_heading_ozs_path,%Q|v: '#{Ozlink.base(heading)}'|) + %Q|}|)%>
		<% end %>
	</ul>
	<div class="row-fluid" id="heading_group_all">
	<%=image_tag("ajax-loader.gif")%>
	</div>
		<%= _script(%Q|
		function _scroll_top() {
  			$('html,body').animate({ scrollTop: 0 }, 'slow');
  			$('\#open_view').html('#{image_tag("ajax-loader.gif")}');
		};
		|)%>

</div>
</div>

<div class="span2" style="margin-right: 0px">
	<p class="lead"><span class="label label-inverse"><i class="icon-comment icon-white"></i><%=t("post.hot.comment")%></span></p>
	<div class="row-fluid" id="recent_comment_feed_area">
		<%=image_tag("ajax-loader.gif")%>
    </div>
</div>


</div>
</div>
<%= _script_document_ready(%Q|_activate_heading_ozj_all();| +
	Ajax.post(recent_top_feed_ozmains_path,"") + 
	Ajax.post(recent_comment_feed_ozmains_path,""));
%>
