<%= show_alert %>
<%= render :partial => "layouts/sns" %>	
<div class="row-fluid" id="open_view">
<% if !session[:uzatt]%>
<div class="hero-unit">
	<h1><%= t(:hello_world)%></h1>
	<p>
		<%= OzjapaneseStyle.hello_description%>
	</p>
	<%= render :partial => "ozmains/contact_us" %>
	<%= render :partial => "ozmains/site_detail" %>
	<%= link_to(t("uzatt"), uzatt_ozmains_path, :remote => true, :method => :post, :id => "", :class => "btn btn-info btn-small pull-right") %>
</div>
<% end %>
</div>

<div class="container-fluid">
<div class="row-fluid">
<%= fb_shout %>
<div class="span2" style="margin-left: 0px">
	<p class="lead"><span class="label label-inverse"><%=t("post.hot")%></span></p>
	<div class="row-fluid" id="recent_top_feed_area">
		<%=image_tag("ajax-loader.gif")%>
    </div>
</div>

<div class="span10">
<div class="row-fluid" id="menu">
	<ul class="pager">
		<li><%= link_to(OzjapaneseStyle.heading_name(:ozj_all),"#", :class => "shadow", :onclick => "_activate_heading('#{:ozj_all}');return false;")%></li>
		<% OzjapaneseStyle.headings.each do |heading| %>
			<li><%= link_to(OzjapaneseStyle.heading_name(heading),"#", :class => "shadow", :onclick => "_activate_heading('#{heading}');return false;")%></li>
		<% end %>
		<li><%= link_to(OzjapaneseStyle.heading_name(:ozj_h7),"#", :class => "shadow", :onclick => "_activate_heading('#{:ozj_h7}');return false;")%></li>
	</ul>
	<div class="row-fluid" id="heading_group_all">
	<% OzjapaneseStyle.heading_groups.each_with_index do |group,i| %>
		<div class="row-fluid">
			<% group.each do |heading| %>
			<div class="span6" id="page_<%=heading%>">
			<h2>
				<%= OzjapaneseStyle.heading_name(heading)%>
			</h2>
			<p>
			<% if @feed[heading][0] > 0 %>
			<%= link_to(t("post.today_post"), Ozlink.heading_link(heading,"feed_view",{:f => "today"}), :onclick => '_scroll_top()', :remote => true, :method => :get) %>
			<% else %>
			<%= t("post.today_post") %>
			<% end %>
			&nbsp;<span class="badge badge-info"><%= @feed[heading][0] %></span>
			</p>
			<p>
			<% if @feed[heading][1] > 0 %>
			<%= link_to(t("post.yesterday_post"), Ozlink.heading_link(heading,"feed_view",{:f => "yesterday"}), :onclick => '_scroll_top()', :remote => true, :method => :get) %>
			<% else %>
			<%= t("post.yesterday_post") %>
			<% end %>
			&nbsp;<span class="badge badge-info"><%= @feed[heading][1] %></span>
			</p>
			<p>
			<% if @feed_cnt[heading] > 0 %>
			<%= link_to(t("post.recent_post"), Ozlink.heading_link(heading,"feed_view",{:f => "recent_week"}), :onclick => '_scroll_top()', :remote => true, :method => :get) %>
			<% else %>
			<%= t("post.recent_post") %>
			<% end %>
			&nbsp;<span class="badge badge-success"><%= @feed_cnt[heading]%></span>
			</p>
			<p>
			<%= t("#{heading}.desc")%>
			</p>
			<p style="margin-top: 40px">
			<div class="btn-toolbar">
			<div class="btn-group dropup">
			<%= post_write_new(heading, :signin_with_following)%>
			</div>
			<div class="btn-group">
			<%= link_to_with_icon("#{t("post.newer")} &raquo",Ozlink.heading_link(heading,"newer"),"btn","","icon-zoom-in","#{heading}_view_details") %>
			</div>
			<div class="btn-group">
			<%= link_to_with_icon("#{t("post.older")} &raquo",Ozlink.heading_link(heading,"older"),"btn","","icon-zoom-in","#{heading}_view_details") %>
			</div>
			</div>
			</p>
			</div>
			<% end %>			
		</div>
	<% end%>
	</div>
		<%= _script(%Q|
		function _scroll_top() {
  			$('html,body').animate({ scrollTop: 0 }, 'slow');
  			$('\#open_view').html('#{image_tag("ajax-loader.gif")}');
		};
		function _activate_heading(heading) {
			$("\#heading_group_all").html('#{image_tag("ajax-loader.gif")}');
		}
		|)%>


</div>

</div>
</div>
</div>
<%= _script_document_ready(
	Ajax.post(recent_top_feed_ozmains_path,""))%>