<%= show_alert %>
<%= render :partial => "layouts/sns" %>
<div class="row-fluid" id="open_view">
<% if !session[:uzatt]%>
<div class="hero-unit">
	<h1><%= t(:hello_world)%></h1>
	<p>
		<%= OzjapaneseStyle.hello_description%>
	</p>
	<%= render :partial => "ozmains/contact_us" %>
	<%= render :partial => "ozmains/site_detail" %>
	<%= link_to(t("uzatt"), uzatt_ozmains_path, :remote => true, :method => :post, :id => "", :class => "btn btn-info btn-small pull-right") %>
</div>
<% end %>
</div>
<div class="row-fluid" id="menu">
	<ul class="pager">
		<% OzjapaneseStyle.headings.each do |heading| %>
			<% g = @feed[heading][0] + @feed[heading][1] + @feed_cnt[heading] %>
			<li><%= link_to(t("#{heading}.title"),"#", :onclick => "_activate_heading(#{OzjapaneseStyle.group_id(heading)});return false;")%></li>
		<% end %>
	</ul>
	<div class="span12">
		<ul class="nav nav-tabs" id="heading_tab">
		<% OzjapaneseStyle.heading_groups.each_with_index do |group,i| %>
		<li style="display:none"><a href="#heading_<%=i%>"></a></li>
		<% end %>
		</ul>
		<div class="tab-content">
		<% OzjapaneseStyle.heading_groups.each_with_index do |group,i| %>
			<div class="tab-pane fade in" id="heading_<%=i%>">
			<% group.each do |heading| %>
			<div class="span5" style="margin-left:90px">
			<h2>
				<%= t("#{heading}.title")%>
			</h2>
			<p>
			<% if @feed[heading][0] > 0 %>
			<%= link_to(t("post.today_post"), Ozlink.heading_link(heading,"feed_view",{:f => "today"}), :onclick => '_scroll_top()', :remote => true, :method => :get) %>
			<% else %>
			<%= t("post.today_post") %>
			<% end %>
			&nbsp;<span class="badge badge-info"><%= @feed[heading][0] %></span>
			</p>
			<p>
			<% if @feed[heading][1] > 0 %>
			<%= link_to(t("post.yesterday_post"), Ozlink.heading_link(heading,"feed_view",{:f => "yesterday"}), :onclick => '_scroll_top()', :remote => true, :method => :get) %>
			<% else %>
			<%= t("post.yesterday_post") %>
			<% end %>
			&nbsp;<span class="badge badge-info"><%= @feed[heading][1] %></span>
			</p>
			<p>
			<% if @feed_cnt[heading] > 0 %>
			<%= link_to(t("post.recent_post"), Ozlink.heading_link(heading,"feed_view",{:f => "recent_week"}), :onclick => '_scroll_top()', :remote => true, :method => :get) %>
			<% else %>
			<%= t("post.recent_post") %>
			<% end %>
			&nbsp;<span class="badge badge-success"><%= @feed_cnt[heading]%></span>
			</p>
			<p>
			<%= t("#{heading}.desc")%>
			</p>
			<p style="margin-top: 40px">
			<div class="btn-toolbar">
			<div class="btn-group">
			<%= link_to_with_icon("#{t(:view_details)} &raquo",Ozlink.heading_link(heading,""),"btn","z-index:10","icon-zoom-in","#{heading}_view_details") %>
			</div>
			<div class="btn-group dropup">
			<%= post_write_new(heading, :signin_with_following)%>
			</div>
			</div>
			</p>
			</div>
			<% end %>			
			</div>
		<% end%>
		</div>
	<%= _script_document_ready(%Q|
	$('#heading_tab a:first').tab('show');
	|)%>
	<%= _script(%Q|
		function _scroll_top() {
  			$('html,body').animate({ scrollTop: 0 }, 'slow');
  			$('\#open_view').html('#{image_tag("ajax-loader.gif")}');
		};
		function _activate_heading(group_id) {
			$('#heading_tab a[href="#heading_' + group_id + '"]').tab('show');
		}
	|)%>
	</div>
</div>
