<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<a class="brand" href="<%=root_path%>"><i class="icon-fire icon-white"></i><%= t(:project_name)%> <%=t(:header_message)%><%= t(:passion)%><%= t(:site)%></a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li></li>
				</ul>
				<div class="span6 pull-right">
					<div class="pull-right">
						<% if controller.controller_name.eql?("terms")%>
							<%=t("signin_agreement_required")%>
						<% else %>
							<strong style="font-size:16px"><%=t(:welcome)%></strong>
							<% if !current_flyer %>
								<%= signin(:signin_with) %>
							<% else %>
								<%= show_flyer_header %>
							<% end %>
						<% end %>
					</div>
				</div>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
