<div class="modal hide fade" id="ozj_signin_modal" tabindex="-1" role="dialog" aria-labelledby="ozj_signin_modal_label" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="ozj_signin_modal_label"><%= t("auth.signin") %> <%=facebook%> <%=google%></h3>
	</div>
	<div class="modal-body">
		<ul class="thumbnails">
			<li class="span5">
				<div class="thumbnail">	
					<h6><%= facebook %> <%=t("signin_with_facebook")%></h6>
					<p><%=t("signin_with_how", :provider => "Facebook")%></p>
					<p>
					<label class="checkbox">
					<input type="checkbox" value="" id="facebook_remember_me">
					<%=t("signin_remember_me")%>
					</label>
					</p>
					<button type="button" class="btn btn-primary" data-loading-text="<%=t("signin_inprogress")%>" id="facebook_signin"><%=t("process_signin")%></button>
					<div class="facebook_signin_progress"></div>
					<%= _script_document_ready(%Q|$('\#facebook_signin').button();
						$('\#facebook_signin').click(function() {
						$('.facebook_signin_progress').html('#{image_tag("ajax-loader.gif")}');| +
						Ajax.post(signin_sessions_path,%Q|remember_me:$('\#facebook_remember_me').attr("checked"),provider:'#{Flyer::PROVIDERS[:facebook]}'|) +
						%Q|})|)%>
				</div>
			</li>
			<li class="span5">
				<div class="thumbnail">			
					<h6><%= google %> <%=t("signin_with_google")%></h6>
					<p><%=t("signin_with_how", :provider => "Google")%></p>
					<p>
					<label class="checkbox">
					<input type="checkbox" value="" id="google_remember_me">
					<%=t("signin_remember_me")%>
					</label>
					</p>
					<% if debug? %>
					<button type="button" class="btn btn-primary" data-loading-text="<%=t("signin_inprogress")%>" id="google_signin"><%=t("process_signin")%></button>
					<% else %>
					<button type="button" class="btn btn-primary disabled" data-loading-text="<%=t("signin_inprogress")%>" id="google_signin_disabled"><%=t("process_signin")%></button>
					<span class="help-block"><%=t("under_development")%></span>
					<% end %>					
					<div class="google_signin_progress"></div>
					<%= _script_document_ready(%Q|
						$('\#google_signin').button();
						$('\#google_signin').click(function() {
						$('.google_signin_progress').html('#{image_tag("ajax-loader.gif")}');| +
						Ajax.post(signin_sessions_path,%Q|remember_me:$('\#google_remember_me').attr("checked"),provider:'#{Flyer::PROVIDERS[:google]}'|) +
						%Q|})|)%>
				</div>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">
			<%= t(:close)%>
		</button>
	</div>
</div>