<!DOCTYPE html>
<html>
<head>
  <title><%=t(:title)%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => "layouts/header" %>
<div class="container" style="margin-top:60px">
<%= breadcrumb :pretext => "",
               :posttext => "",
               :separator => " &rsaquo; ",
               :autoroot => true,
               :show_root_alone => true,
               :link_current => true,
               :semantic => true
               %>
<%= yield %>
<%= render :partial => "layouts/footer" %>
</div>
</body>
</html>
